%p
  %label{:for => "submitter_first_name"} Your first name(s) *
  = input_and_error_message(:first_name, submitter) {|a| f.text_field a }
%p
  %label{:for => "submitter_family_name"} Your family name *
  = input_and_error_message(:family_name, submitter) {|a| f.text_field a }
%p
  %label{:for => "submitter_address"} Your address *
  = input_and_error_message(:address, submitter) {|a| f.text_area a, :rows => 3 }
%p
  %label{:for => "submitter_postcode"} Your postcode *
  = input_and_error_message(:postcode, submitter) {|a| f.text_field a }
%p
  %label{:for => "submitter_email"} Your email *
  = input_and_error_message(:email, submitter) {|a| f.text_field a }
%p
  %label{:for => "submitter_phone"} Your phone number
  = f.text_field :phone
