%p
  %label{:for => "submitter_first_name"} First name:
  = f.text_field :first_name
%p
  %label{:for => "submitter_family_name"} Family name:
  = f.text_field :family_name
%p
  %label{:for => "submitter_address"} Address:
  = f.text_area :address
%p
  %label{:for => "submitter_postcode"} Postcode:
  = f.text_field :postcode
%p
  %label{:for => "submitter_email"} Email:
  = f.text_field :email
%p
  %label{:for => "submitter_phone"} Phone:
  = f.text_field :phone
