%fieldset
  %legend Your details
  - f.fields_for :submitter_attributes do |s|
    = render :partial => "submitters/form", :locals => { :f => s, :submitter => @death_notification.submitter }
  %p
    %label{:for => "death_notification_relationship_to_deceased"} Your relationship to deceased *
    = input_and_error_message(:relationship_to_deceased) { |a| f.text_field a }
%fieldset
  %legend Deceased's details
  %p
    %label{:for => "death_notification_deceased_first_name"} First name(s) *
    = input_and_error_message(:deceased_first_name) { |a| f.text_field a }
  %p
    %label{:for => "death_notification_deceased_family_name"} Family name *
    = input_and_error_message(:deceased_family_name) { |a| f.text_field a }
  %p
    %label{:for => "death_notification_deceased_maiden_surname"} Maiden surname (if relevant)
    = input_and_error_message(:deceased_maiden_surname) { |a| f.text_field a }
  %p
    %label{:for => "death_notification_date_of_death"} Date of death *
    = f.date_select :date_of_death, :start_year => @earliest_death_year, :end_year => @latest_death_year, :order => [:day, :month, :year]
  %p
    %label{:for => "death_notification_date_of_birth"} Date of birth
    = f.date_select :date_of_birth, :start_year => @earliest_birth_year, :end_year => @latest_birth_year, :order => [:day, :month, :year]
  %p
    %label{:for => "death_notification_place_of_birth"} Place of birth
    = f.text_field :place_of_birth
  %p
    %label{:for => "death_notification_national_insurance_number"} National insurance number
    = f.text_field :national_insurance_number
  %p
    %label{:for => "death_notification_tax_reference_number"} Tax reference number
    = f.text_field :tax_reference_number
  %p
    %label{:for => "death_notification_nhs_number"} NHS number
    = f.text_field :nhs_number
  %p
    %label{:for => "death_notification_last_address"} Last address
    = f.text_area :last_address, :rows => 3
  %p
    %label{:for => "death_notification_last_postcode"} Last postcode
    = f.text_field :last_postcode
  %p
    %label{:for => "death_notification_receiving_state_pension"} Receiving state pension
    = f.check_box :receiving_state_pension
  %p
    %label{:for => "death_notification_receiving_other_state_benefit"} Receiving other state benefit - give details
    = f.text_field :receiving_other_state_benefit
