!!! Strict
%html
  %head
    = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'print.css', :media => 'print'
  %body
    #page
      #header
        %h1 DirectGov
        %h2
          =link_to 'Tell Us Once', root_path
          %span.again (again)
      #content
        = @content_for_layout
      #footer
        .rsproduct
          .rslogo
            = image_tag('rs_bigger.png', :class=>'logo')
          %div
            %p.about
              This working prototype/proof-of-concept was constructed as part
              %br
              of the 
              = link_to('Rewired State: DotGovLabs','http://rewiredstate.org/events/dotgovlabs')
              hackday.
              %br
              Read our project page for an 
              = link_to('explanation of the site','http://rewiredstate.org/projects/tellusonce-gov')+'.'
